* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#screen {
  width: 100%;
  height: 100vh;
  /* border: 5px solid red; */
}

#navbar {
  width: 100%;
  height: 60px;
  border: 2px solid black;
  background-color: rgb(19, 25, 33);
  color: white;
  display: flex;
  align-items: center;
}

/* #amazon-logo {
  width: 100px;
  height: 25px;
  background-color: white;
} */

#logo {
  /* border: 2px solid blue; */
  width: 10%;
  display: flex;
}

#logo > h1 {
  margin-left: 15px;
}

#location {
  /* border: 2px solid blue; */
  width: 10%;
  display: flex;
}

#loc {
  color: white;
  padding-top: 19px;
}

#loc-text {
  padding-left: 5px;
}

#search {
  /* border: 2px solid blue; */
  width: 50%;
  display: flex;
}

#search-box {
  width: 750px;
  height: 40px;
}

#deals {
  height: 40px;
  width: 90px;
  background-color: rgb(243, 243, 243);
  border: none;
  border-color: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#search-btn {
  width: 50px;
  height: 40px;
  border: none;
  border-color: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  background-color: rgb(254, 189, 105);
}
#country {
  /* border: 2px solid blue; */
  width: 5%;
  display: flex;
  padding-left: 10px;
}
#flag {
  padding-right: 5px;
  padding-top: 2px;
}
#arrow {
  padding-top: 12px;
}

#sign-in {
  /* border: 2px solid blue; */
  width: 12%;
}

#orders {
  /* border: 2px solid blue; */
  width: 8%;
}

#arrow-two {
  padding-left: 5px;
}

#cart {
  /* border: 2px solid blue; */
  width: 7%;
  display: flex;
}
